.container {
  position: relative;
  width: 100%;
}

.bgImage {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: 0.5s ease;
  background: rgba(0, 0, 0, 0.5);
}

h2 {
  font-size: 3rem;
  font-weight: 600;
}

/* h4 {
  font-weight: 400;
  font-size: 25px;
} */

.text {
  width: 100%;
  margin: 0 auto;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

form {
  position: absolute;
  transform: translateX(40%);
  width: 60%;
  margin: 0 auto;
  margin-top: 2rem;
}

/* .form_container {
  display: flex;
  justify-content: center;
} */

form.example input[type="text"] {
  padding: .8rem;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
  border-radius: 5px 0 0 5px;
}

form.example button {
  float: left;
  width: 10%;
  padding: .8rem;
  color: white;
  background: #223ebbc7;
  border-radius: 0 5px 5px 0;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  transition: all .4s ease;
}

form.example button:hover {
  background: #223dbb;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

@media (max-width: 768px) {
  .bgImage {
    height: 60vh;
  }

  h2 {
    font-size: 5vh;
  }

  h4 {
    font-size: 3vh;
  }

  form.example button {
    width: 20%;
  }
}
